# Compiler files
cache/
out/

# Commonly ignored directories
.logs/
.ignore/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/
/Users/evan/web3Code/learn-chain-class-demo/class-7/my-foundry-project/de



# Dotenv file
.env
.env.*
!.env.example
/Users/evan/web3Code/learn-chain-class-demo/class-7/my-foundry-project/.env



# Soldeer
/dependencies


